{% extends "header.html" %}

{% block content %}

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Read Our Blog</h2>
				<div class="row row-bottom-padded-md">
					{% for blog in blogs %}
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="#" class="blog-img"><img src="images/img-1.jpg" class="img-responsive"></a>
							<div class="desc">
								<h3><a href="#">{{ blog.title }}</a></h3>
								<span><small>by {{ blog.user }} </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<div id="content">{{ blog.content|slice:":50" }}</div>
								<a href={% url 'blog' blog.pk %} class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		
	<script>
		$('#content').html($('#content').text().replace(/['"]+/g, ''));
	</script>

{% endblock %}

