{% extends "header.html" %}

{% block content %}
{% load static %}

        <div id="fh5co-main">
            <aside id="fh5co-hero" class="js-fullheight">
                <div class="flexslider js-fullheight">
                    <ul class="slides">
                    <li style="background-image: url(/static/img/lights.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1>Everything <strong></strong> is Figureoutable</h1>
                                        <h2>Marie Foleo</h2>
                                            <!--<p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
                                            -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/static/img/sky.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1>Talk with Affirmation & Honesty</h1>
                                            <h2>김옥림</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/static/img/city.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1>꿈이 현실이 되는 순간</h1>
                                            <h2>Julia Jun</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
            </aside>
            
            <div class="fh5co-narrow-content">
                <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Personality</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <img src="{% static 'img/star.svg' %}">
                            </div>
                            <div class="fh5co-text">
                                <h3>Wisedom</h3>
                                <p></p><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <img src="{% static 'img/clock.svg' %}">
                            </div>
                            <div class="fh5co-text">
                                <h3>Patience</h3>
                                <p></p><br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <img src="{% static 'img/user.svg' %}">
                            </div>
                            <div class="fh5co-text">
                                <h3>Considerate</h3>
                                <p></p><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <img src="{% static 'img/monitor.svg' %}">
                            </div>
                            <div class="fh5co-text">
                                <h3>Efficiency</h3>
                                <p></p><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fh5co-narrow-content">
                <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Recent Blog</h2>
                <div class="row row-bottom-padded-md">

                    {% for blog in blogs %}
                    <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                        <div class="blog-entry">
                            <div class="desc">
                                <h3><a href="#">{{ blog.title }}</a></h3>
                                <span><small>by {{ blog.user.username }} </small> / <small> {{ blog.category.name }} </small> / <small> <i class="icon-comment"></i> {{ blog.create_date }}</small></span>
                                <div id = "content">{{ blog.content|slice:":50"}}</div>
                                <a href={% url 'blog' blog.pk %} class="lead">Read More <i class="icon-arrow-right3"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

  <script>
    $('#content').html($('#content').text().replace(/['"]+/g, ''));
  </script>

{% endblock %}


